*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: .6rem  12%;
    background-color:rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size:1.5rem;
    color: white;
    font-weight: 600;
    transition: 0.10s ease;
}

.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered, 0 0 25px orangered;
    transform: scale(1.1);
}

span{
    color:orangered;
}

/* ========== menu -toggle =========== */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar {
    text-align: center;
    padding: 1rem 0;
}

.navbar a{
    font-size:1rem;
    color: white;
    font-weight: 450;
    padding: 0 1rem;
    border-bottom:3px solid transparent;
    transition: 0.5s ease;
}

.navbar a:hover,
.navbar a.active{
    color: orangered;
    border-bottom: 3px solid orangered;
}


.contact{
    padding: .5rem 1rem;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    font-size: 1rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orange;
    color: white;
}

.home{
   width: 100vw;
   min-height: 80vh;
   background-color: rgb(241, 241, 241);
   display: flex;
   align-items: center;
   gap: 7em;
   padding: 4rem 8rem;
}

.home-content{
    padding: 2rem;
    margin: 5rem auto;

}


.home-content h3{
    font-size: 4rem;
    font-weight: 600;
}

.home-content h1{
    font-size: 2.5rem;
    line-height: 1.2;
}

.home-content p{
    font-size: 1.4rem;
    padding: 2rem 0 2rem;
    font-weight: 500;
}

.btn-box{
    display: flex;
    gap: 2rem;
}

.btn-1{
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: rgb(198, 94, 30);
    color: black;
    border: 2px solid transparent;
}

.img-box img{
    height: 300px;
    width: 250px;
    border-radius: 50%;
}

 /* for srolling bar */
 ::-webkit-scrollbar{
    width: 1.2rem;
 }

 ::-webkit-scrollbar-thumb{
    background-color: orangered;
 }

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.618);
    width: 40px;
}

/* ============= About section ==================*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 12% 8%;
    gap: 10em;
    background-color: black;
}

.img-about img{
    position: relative;
    box-shadow: 0 0 25px whitesmoke, 0 0 25px whitesmoke;
    height: 300px;
    width: 250px;
    border-radius: 45%;
}

.about-content h2{
    text-align: left;
    color: white;
    font-size: 3rem;
}

.about-content h3{
    font-size: 4rem;
    color: white;
}

.about-content p{
    color: white;
    font-size: 2rem;
    padding: 2rem 0 2rem;
}

.read{
    padding: .5rem 1rem;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    font-size: 1rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
    
}

.read:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orange;
    color: white;
}

/*========== project section =============*/
.project{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    gap: 4em;
    background-color: rgb(241, 241, 241);
}
.projects .projects-content{
    text-align: center;
    margin-bottom: 1em;
}
.projects h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 3rem;
}

.projects-container{
    display: flex;

}

.projects-container .project-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem 4rem;
}

.project-boxes .project1{
    background-color: rgb(228, 90, 21);
    box-shadow: 0 2px 3px black;
    border-radius: 1rem;
    padding: 2rem;
}

.project-boxes .project2{
    background-color: rgb(228, 90, 21);
    box-shadow: 0 2px 3px black;
    border-radius: 1rem;
    padding: 2rem;
}

.project-boxes .project3{
    background-color: rgb(228, 90, 21);
    box-shadow: 0 2px 3px black;
    border-radius: 1rem;
    padding: 2rem;
}

.projects .application{
    margin-bottom: 1.5em;
    font-size: 2.2rem;
    font-weight: 500;
}

.projects ul{
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
}

.projects ul li{
    margin-bottom: .5em;
}

/* =========== Skills section =========== */
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
}
.skills .skills-content{
    text-align: center;
    max-width: 50em;
    margin-bottom: 3em;

}

.skills-content h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 3rem;
}

.application{
    font-size: 2rem;

}

.skills-content ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: blanchedalmond;
    padding: 2rem;
    box-shadow: 0 1px 2px rgb(200, 118, 18);
    border-radius: 1rem;

}

.skills-content ul li{
   font-size: 1.2rem;
}



/* =========== contact-form section ===========*/
.contact-form{
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10% 6%;
    gap: 10em;
}
.contact-form form{
    text-align: center;
    margin-bottom: 3em;
}

.contact-form h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.2em;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
}

/*============= footer section ================*/
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2.6rem 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding: 24px;
    color: rgb(250, 250, 250);
}

.footer .social a{
    font-size: 30px;
    color: white;
    border: 2px solid orangered;
    height: 40px;
    width: 40px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 45%;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.5s ease;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 30px solid transparent;
    transition: 0.5s ease;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}


/* ================ secreen size 968px =========== */
@media only screen and (max-width: 968px) {


    /* ======navbar ========== */
    .navbar a{
        font-size:.7rem;
        font-weight: 450;
        padding: 0 .5rem;
        border-bottom:2px solid transparent;
    }

    .navbar a:hover,
    .navbar a.active{
       color: orangered;
       border-bottom: 1px solid orangered;
    }
    /* ============= About section ==================*/
.about{
    gap: 6em;
}

.img-about img{
    position: relative;
    height: 300px;
    width: 250px;
    border-radius: 45%;
}





.contact{
    padding:0.4rem .3rem;
    font-size: 1rem;
    font-weight: 400;
}



 
}






/*========= media query ========*/
@media (max-width: 768px) {
    .menu-toggle {
        display: block;

    }

    .navbar a:hover,
.navbar a.active{
    color: orangered;
    border-bottom: 1px solid orangered;
}

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #444;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 2rem;
    }

    .navbar a {
        display: block;
        padding: 1rem;
    }

    .navbar.active {
        display: flex;
    }

    .contact{
        padding:0.4rem .3rem;
        font-size: 1rem;
        font-weight: 400;
    }

    /* =========== home ========== */
     
.home{
    width: 100vw;
    min-height: 70vh;
    gap: 7em;
    display: block;
    text-align:left;
    flex-direction: column;
 }

    .home-content{
        padding: 2rem;
        margin: 5rem auto;
    }
 
 
 .home-content h3{
     font-size: 2.5rem;
     font-weight: 600;
 }
 
 .home-content h1{
     font-size: 2rem;
     line-height: 1.1;
 }
 
 .home-content p{
     font-size: 1.1rem;
  
}

.btn-box{
    width: 320px;
    display: flex;
    gap: 2rem;
}

.btn-1{
    padding: .5rem 1.4rem;
    border-radius:1rem;
    font-size: 1rem;
}

/* ============= About section ==================*/
.about{
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:1.5rem 5rem;
    gap: 10em;
}

.img-about img{
    position: relative;
    top: 4rem;
    height: 280px;
    width: 220px;
}

.about-content h2{
    text-align: center;
    font-size: 2.5rem;
}

.about-content h3{
    text-align: center;
    font-size: 3rem;
}

.about-content p{
    text-align: center;
    font-size: 1.6rem;
}

.read{
    padding: .5rem 1rem;
    font-size: 1rem;

}

/* ================ project section ========== */
.projects h2{
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 3rem;
}

.projects-container{
    display: flex;

}

.projects-container .project-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 1rem 4rem;
}

.project-boxes .project1{
    padding: 2rem;
}

.project-boxes .project2{
    padding: 2rem;
}

.project-boxes .project3{
    padding: 2rem;
}

.project-boxes p{
    font-size: 1rem;
    padding-top: 1rem;
}


/* =========== Skills section =========== */
.skills{
    padding: 10% 6%;
}

.skills .skills-content{
    text-align: center;
    /* max-width: 34em; */
    margin-bottom: 3em;

}

.skills-content h2{
    font-size: 2.5rem;
}

.application{
    font-size: 2rem;
    margin-bottom: 1.5rem;

}


.skills-content ul li{
   font-size: 1.2rem;
}

/* =========== contact-form section ===========*/
.contact-form form{
    margin-bottom: 2.5em;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
}

/*========== footer section ==========*/
.footer{
    position: relative;
    bottom: 0;
    padding: 40px 0;
    background-color: black;
}

.footer .social{
    text-align: center;
    padding: 24px;
    color: rgb(250, 250, 250);
}

.footer .social a{
    font-size: 30px;
    color: white;
    border: 2px solid orangered;
    height: 40px;
    width: 40px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 45%;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.5s ease;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 30px solid transparent;
    transition: 0.5s ease;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.scrolltop{
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: .4rem;
    
}



}

/* ================== screen size 468px =============== */

@media (max-width: 468px) {

    .logo{
        font-size:1rem;
        font-weight: 500;
    }


    .navbar {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .navbar a {
        display: block;
        padding: 1rem;
    }

    .contact{
        padding:0.3rem .2rem;
        font-size: .6rem;
        font-weight: 300;
    }

    /* =========== home ========== */
    
.home{
    min-height: 40vh;
    gap: 7em;
    padding:1rem .5rem;
    display: block;
    text-align: center;
    align-items: center;
 }

    .home-content{
        padding: 5rem;
        margin: 0 auto;
    }
 
 .home-content h3{
     font-size: 2.5rem;
     font-weight: 600;
 }
 
 .home-content h1{
     font-size: 2rem;
     line-height: 1.3;
 }

.btn-box{
    gap: 3rem;
}


/* ============= About section ==================*/
.about{
    padding:3rem 1rem;
    text-align: center;
    gap: 10em;
}

.img-about img{
    position: relative;
    top: 2rem;
    height: 210px;
    width: 180px;
}

.about-content h2{
    font-size: 2.5rem;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1rem;
    padding: 1.2rem 0 1.2rem;
}

.read{
    padding: .2rem .5rem;
    font-size: .5rem;

}

/* ================ project section ========== */
.projects h2{
    text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
    font-size: 2.4rem;
}

.projects-container{
    display: flex;

}

.projects-container .project-boxes{
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
}

.project-boxes p{
    font-size: 1rem;
    padding-top: 1rem;
}



/* =========== Skills section =========== */
.skills{
    padding:1rem .5rem;
    gap: 10em;
}

.skills .skills-content{
    margin-bottom: 2em;

}

.skills-content h2{
    font-size: 2rem;
}

.application{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;

}


.skills-content ul li{
   font-size: .8rem;
}

/* =========== contact-form section ===========*/
.contact-form form{
    margin-bottom: 2.5em;
}

.contact-form h2{
    margin-top: 1.4em;
    margin-bottom: 1em;
}

.contact-form form .input-box input,
.contact-form form textarea{
    padding: 1.2em;
    font-size: 1rem;
    border-radius: 0.7rem;
    margin: .5rem 0;
}

/* ============ footer section ==============*/
.footer{
    position: relative;
    bottom: 0;
    padding: 4rem 0;
}

.footer .social{
    padding: 2rem;
}

.footer .social a{
    font-size: 2em;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.2rem;
}

.footer ul li{
    display: inline-block;
    padding: 0 1rem;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(237, 91, 33);
}

.scrolltop{
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: .6rem;
    
}



}

.scrolltop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    
}







